<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

# **Collecting Job Data Using APIs**

Estimated time needed: **30** minutes

## Objectives

After completing this lab, you will be able to:

*   Collect job data using Jobs API
*   Store the collected data into an excel spreadsheet.

><strong>Note: Before starting with the assignment make sure to read all the instructions and then move ahead with the coding part.</strong>

#### Instructions

To run the actual lab, firstly you need to click on the [Jobs_API](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/Jobs_API.ipynb) notebook link. The file contains flask code which is required to run the Jobs API data.

Now, to run the code in the file that opens up follow the below steps.

Step1: Download the file. 

Step2: Upload the file into your current Jupyter environment using the upload button in your Jupyter interface. Ensure that the file is in the same folder as your working .ipynb file.

Step 2: If working in a local Jupyter environment, use the "Upload" button in your Jupyter interface to upload the Jobs_API notebook into the same folder as your current .ipynb file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/Upload.PNG">

Step3:  Open the Jobs_API notebook, and run all the cells to start the Flask application. Once the server is running, you can access the API from the URL provided in the notebook.

If you want to learn more about flask, which is optional, you can click on this link [here](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/FLASK_API.md.html).

Once you run the flask code, you can start with your assignment.

## Dataset Used in this Assignment

The dataset used in this lab comes from the following source: https://www.kaggle.com/promptcloud/jobs-on-naukricom under the under a **Public Domain license**.

> Note: We are using a modified subset of that dataset for the lab, so to follow the lab instructions successfully please use the dataset provided with the lab, rather than the dataset from the original source.

The original dataset is a csv. We have converted the csv to json as per the requirement of the lab.

## Warm-Up Exercise

Before you attempt the actual lab, here is a fully solved warmup exercise that will help you to learn how to access an API.

Using an API, let us find out who currently are on the International Space Station (ISS).<br> The API at [http://api.open-notify.org/astros.json](http://api.open-notify.org/astros.json?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ) gives us the information of astronauts currently on ISS in json format.<br>
You can read more about this API at [http://open-notify.org/Open-Notify-API/People-In-Space/](http://open-notify.org/Open-Notify-API/People-In-Space?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

In [1]:
import requests # you need this module to make an API call
import pandas as pd

In [2]:
api_url = "http://api.open-notify.org/astros.json" # this url gives use the astronaut data

In [3]:
response = requests.get(api_url) # Call the API using the get method and store the
                                # output of the API call in a variable called response.

In [4]:
print(response)

<Response [200]>

In [5]:
if response.ok:             # if all is well() no errors, no network timeouts)
    data = response.json()  # store the result in json format in a variable called data
                            # the variable data is of type dictionary.

In [7]:
#data

In [6]:
print(data)   # print the data just to check the output or for debugging

{'people': [{'craft': 'ISS', 'name': 'Oleg Kononenko'}, {'craft': 'ISS', 'name': 'Nikolai Chub'}, {'craft': 'ISS', 'name': 'Tracy Caldwell Dyson'}, {'craft': 'ISS', 'name': 'Matthew Dominick'}, {'craft': 'ISS', 'name': 'Michael Barratt'}, {'craft': 'ISS', 'name': 'Jeanette Epps'}, {'craft': 'ISS', 'name': 'Alexander Grebenkin'}, {'craft': 'ISS', 'name': 'Butch Wilmore'}, {'craft': 'ISS', 'name': 'Sunita Williams'}, {'craft': 'Tiangong', 'name': 'Li Guangsu'}, {'craft': 'Tiangong', 'name': 'Li Cong'}, {'craft': 'Tiangong', 'name': 'Ye Guangfu'}], 'number': 12, 'message': 'success'}

Print the number of astronauts currently on ISS.

In [7]:
print(data.get('number'))

12

Print the names of the astronauts currently on ISS.

In [8]:
astronauts = data.get('people')
print("There are {} astronauts on ISS".format(len(astronauts)))
print("And their names are :")
for astronaut in astronauts:
    print(astronaut.get('name'))

There are 12 astronauts on ISS
And their names are :
Oleg Kononenko
Nikolai Chub
Tracy Caldwell Dyson
Matthew Dominick
Michael Barratt
Jeanette Epps
Alexander Grebenkin
Butch Wilmore
Sunita Williams
Li Guangsu
Li Cong
Ye Guangfu

Hope the warmup was helpful. Good luck with your next lab!

## Lab: Collect Jobs Data using Jobs API

### Objective: Determine the number of jobs currently open for various technologies  and for various locations

Collect the number of job postings for the following locations using the API:

* Los Angeles
* New York
* San Francisco
* Washington DC
* Seattle
* Austin
* Detroit

In [2]:
#Import required libraries
import pandas as pd
import json

#### Write a function to get the number of jobs for the Python technology.<br>
> Note: While using the lab you need to pass the **payload** information for the **params** attribute in the form of **key** **value** pairs.
  Refer the ungraded **rest api lab** in the course **Python for Data Science, AI & Development**  <a href="https://www.coursera.org/learn/python-for-applied-data-science-ai/ungradedLti/P6sW8/hands-on-lab-access-rest-apis-request-http?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01">link</a>
  
 ##### The keys in the json are 
 * Job Title
 
 * Job Experience Required
 
 * Key Skills
 
 * Role Category
 
 * Location
 
 * Functional Area
 
 * Industry
 
 * Role 
 
You can also view  the json file contents  from the following <a href = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json">json</a> URL.

In [23]:
job_url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json"
response = requests.get(job_url)
if response.ok:
    job_data = response.json()
print('data ok')

data ok

In [53]:
df = pd.DataFrame(job_data)

# print(df[df['Job Title'].str.contains('python', case=False)])
# print(df.dtypes)# print(job_data[0].get('Job Title'))# df['Job Title'] = df['Job Title'].astype('string')# print(df['Job Title'])# job_title = api_data.get('Job Title')# print(job_title)
def get_number_of_jobs_T(technology):
    
    #your code goes here
    df1 = df[df['Key Skills'].str.contains(technology, case=False, regex=False)]
    number_of_jobs = len(df1)
    return technology, number_of_jobs

In [50]:
#another method for checking a word in a string
ks='Media Planning| Digital Media'
ks_split=ks.split(" ")

In [51]:
"Media" in ks_split

True

In [54]:
df.head()

,Id,Job Title,Job Experience Required,Key Skills,Role Category,Location,Functional Area,Industry,Role
0,0,Digital Media Planner,5 - 10 yrs,Media Planning| Digital Media,Advertising,Los Angeles,"Marketing , Advertising , MR , PR , Media Plan...","Advertising, PR, MR, Event Management",Media Planning Executive/Manager
1,1,Online Bidding Executive,2 - 5 yrs,pre sales| closing| software knowledge| client...,Retail Sales,New York,"Sales , Retail , Business Development","IT-Software, Software Services",Sales Executive/Officer
2,2,Trainee Research/ Research Executive- Hi- Tech...,0 - 1 yrs,Computer science| Fabrication| Quality check| ...,R&D,San Francisco,"Engineering Design , R&D","Recruitment, Staffing",R&D Executive
3,3,Technical Support,0 - 5 yrs,Technical Support,Admin/Maintenance/Security/Datawarehousing,Washington DC,"IT Software - Application Programming , Mainte...","IT-Software, Software Services",Technical Support Engineer
4,4,Software Test Engineer -hyderabad,2 - 5 yrs,manual testing| test engineering| test cases| ...,Programming & Design,Boston,IT Software - QA & Testing,"IT-Software, Software Services",Testing Engineer

In [12]:
#api_url="http://127.0.0.1:5000/data"
# def get_number_of_jobs_T(technology):
#     payload={"Key Skills": technology}
#     response=requests.get(job_url, params=payload)
#     number_of_jobs = len(data)
    
#     #your code goes here
#     return technology,number_of_jobs

In [17]:
#print(data)

Calling the function for Python and checking if it works.

In [26]:
get_number_of_jobs_T("Python")

('Python', 1173)

#### Write a function to find number of jobs in US for a location of your choice

In [27]:
 def get_number_of_jobs_L(location):
    
    #your code goes here
    df2=df[df['Location'].str.contains(location,case=False, regex=False)]
    number_of_jobs=len(df2)
    return location,number_of_jobs

Call the function for Los Angeles and check if it is working.

In [28]:
#your code goes here
get_number_of_jobs_L("Los Angeles")

('Los Angeles', 640)

In [36]:
### for my understanding
# df2=df[df['Location'].str.contains("Los Angeles",case=False)]
# df2

### Store the results in an excel file

Call the API for all the given technologies above and write the results in an excel spreadsheet.

If you do not know how create excel file using python, double click here for **hints**.

<!--

from openpyxl import Workbook        # import Workbook class from module openpyxl
wb=Workbook()                        # create a workbook object
ws=wb.active                         # use the active worksheet
ws.append(['Country','Continent'])   # add a row with two columns 'Country' and 'Continent'
ws.append(['Eygpt','Africa'])        # add a row with two columns 'Egypt' and 'Africa'
ws.append(['India','Asia'])          # add another row
ws.append(['France','Europe'])       # add another row
wb.save("countries.xlsx")            # save the workbook into a file called countries.xlsx


-->

Create a python list of all technologies for which you need to find the number of jobs postings.

In [16]:
#your code goes here
#your code goes here
## Extract the column and convert to a Python list of unique locations
#tech_list = df['Key Skills'].unique().tolist()

In [8]:
tech_list = ['C','C#','C++','Java','Javascript','python', 'scala','oracle', 'Sql Server', 'Mysql', 'Postgre','mongo']

In [10]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.3-py2.py3-none-any.whl (251 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 251.3/251.3 kB 19.5 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.3

Import libraries required to create excel spreadsheet

In [29]:
# your code goes here
from openpyxl import Workbook        # import Workbook class from module openpyxl

Create a workbook and select the active worksheet

In [30]:
# your code goes here
# Step 1: Create a new workbook
wb = Workbook()

# Step 2: Get the active worksheet
ws=wb.active                         # use the active worksheet

# Step 3: Rename the active sheet (optional)
ws.title = "Tech_list"
#step4: Save the workbook to a file if needed
wb.save("my_workbook.xlsx")

Find the number of jobs postings for each of the technology in the above list.
Write the technology name and the number of jobs postings into the excel spreadsheet.

In [74]:
job_postings = []

for tech in tech_list:
    job_postings.append(get_number_of_jobs_T(tech))

In [75]:
job_postings

[('C', 25114),
 ('C#', 526),
 ('C++', 506),
 ('Java', 3428),
 ('Javascript', 2248),
 ('python', 1173),
 ('scala', 138),
 ('oracle', 899),
 ('Sql Server', 423),
 ('Mysql', 952),
 ('Postgre', 112),
 ('mongo', 209)]

In [77]:
df = pd.DataFrame(list(job_postings), columns=['Technology', 'Job Listings'])
df

    Technology  Job Listings
0            C         25114
1           C#           526
2          C++           506
3         Java          3428
4   Javascript          2248
5       python          1173
6        scala           138
7       oracle           899
8   Sql Server           423
9        Mysql           952
10     Postgre           112
11       mongo           209

In [70]:
#another method
df1=pd.DataFrame(job_postings).transpose().reset_index()
df1=df1.iloc[:,[1,2]]
df1.columns=['Technology','Job Listings']

In [71]:
df1

    Technology Job Listings
0            C        25114
1           C#          526
2          C++          506
3         Java         3428
4   Javascript         2248
5       python         1173
6        scala          138
7       oracle          899
8   Sql Server          423
9        Mysql          952
10     Postgre          112
11       mongo          209

In [78]:
# Write the DataFrame to an Excel file
df.to_excel('job-postings.xlsx', index=False)

In [39]:
#your code goes here
#create a python list containing the names of the technologies
# tech_list = ['C','C#','C++','Java','Javascript','python', 'scala','oracle', 'Sql Server', 'Mysql', 'Postgre','mongo']
# tech_counts = {} #Create a dictionary to store technology counts
# for tech in tech_list:
#     # Count the occurrences of each technology
#     count = df[df['Key Skills'].str.contains(tech, case=False, na=False).sum()]
#     number_of_jobs=len(df2)
#     tech_counts[tech] = count

Save into an excel spreadsheet named **job-postings.xlsx**.

In [79]:
#your code goes here
wb.save('job-postings.xlsx')

#### In the similar way, you can try for below given technologies and results  can be stored in an excel sheet.

Collect the number of job postings for the following languages using the API:

*   C
*   C#
*   C++
*   Java
*   JavaScript
*   Python
*   Scala
*   Oracle
*   SQL Server
*   MySQL Server
*   PostgreSQL
*   MongoDB

In [ ]:
# your code goes here

## Authors

Ayushi Jain

### Other Contributors

Rav Ahuja

Lakshmi Holla

Malika

Copyright © IBM Corporation.

<!--## Change Log

<!--| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- | 
| 2022-01-19        | 0.3     | Lakshmi Holla        | Added changes in the markdown      |
| 2021-06-25        | 0.2     | Malika            | Updated GitHub job json link       |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |--!>